
{{ partial "head.html" . }}
<body>
<div id="container">
    {{ partial "header.html" . }}
    <section id="main" class="outer">
        <article class="article article-type-post" itemscope itemprop="blogPost">
            <div class="article-inner">
                <header class="article-header">
                    <h1 class="article-title" itemprop="name">404. This isn't page you're looking for.</h1>
                    
                    

                </header>
                <h2 class="article-subtitle" itemprop="name">Obi Wan Kenobi needn't be your only hope though. Check out the <a href="/posts/">posts archive</a> to see if you can find whatever you're looking for.</h2>
            </div>
        </article>
    </section>
{{ partial "footer.html" . }}
</div>
</body>
</html>